//@theme "/nix/store/27fvjv5qqm8zhwkanv3a6lllh62xpzap-rofi-1.7.5/share/rofi/themes/DarkBlue.rasi"
//@theme "/nix/store/27fvjv5qqm8zhwkanv3a6lllh62xpzap-rofi-1.7.5/share/rofi/themes/arthur.rasi"
//@theme "/nix/store/27fvjv5qqm8zhwkanv3a6lllh62xpzap-rofi-1.7.5/share/rofi/themes/DarkBlue.rasi"
@theme "/nix/store/27fvjv5qqm8zhwkanv3a6lllh62xpzap-rofi-1.7.5/share/rofi/themes/gruvbox-dark-hard.rasi"
